@{
    Dictionary<string, string> Translations = (Dictionary<string, string>)ViewBag.Translations;
}

<p style="text-align: left;">
    <img src="https://payment.checkout.fi/static/img/avainlippu_so.png" alt="Avainlippu - Suomalaista osaamista" style="float: right; margin: 0;">
    @Translations["checkoutFinlandInfo"]
</p>
